amqp==5.0.1
asgiref==3.2.10
billiard==3.6.3.0
celery==5.0.2
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
Django==3.1.1
django-appconf==1.0.4
django-bootstrap-daterangepicker==1.0.6
django-cleanup==5.1.0
django-crispy-forms==1.9.2
django-imagekit==4.0.2
django-model-utils==4.0.0
django-notifications-hq==1.6.0
django-phonenumber-field==5.0.0
et-xmlfile==1.0.1
jdcal==1.4.1
jsonfield==3.1.0
kombu==5.0.2
openpyxl==3.0.5
phonenumbers==8.12.12
pilkit==2.0
Pillow==8.0.1
prompt-toolkit==3.0.8
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.4
regex==2020.10.28
reportlab==3.5.55
six==1.15.0
sqlparse==0.4.1
swapper==1.1.2.post1
titlecase==1.1.1
vine==5.0.0
wcwidth==0.2.5
