body {
    padding-top: 66.45px;
    font-size: 1rem;
    background-color: #ffffff;
}

*:not(i){
  font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1261A0;
}

h2 {
    font-size: 1.563rem;
    font-weight: 700;
    color: #1261A0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #414142;
}

h4 {
    font-size: .875rem;
    font-weight: 600;
    color: #414142;
}

h5 {
    font-size: 1rem;
    font-weight: normal;
    color: #414142;
}

h6 {
    font-size: .75rem;
    font-weight: lighter;
    color: #414142;
}

#div_id_sort_by.form-group {
    margin-bottom: 0;
}

#div_id_company.form-group {
    margin-bottom: 0;
}

#div_id_position.form-group {
    margin-bottom: 0;
}

#div_id_search.form-group {
    margin-bottom: 0;
}

#div_id_reasons.form-group {
    margin-bottom: 0;
}

#div_id_action_type.form-group {
    margin-bottom: 0;
}

#div_id_status.form-group {
    margin-bottom: 0;
}

#div_id_time_off_type.form-group {
    margin-bottom: 0;
}

#div_id_date_range.form-group {
    margin-bottom: 0;
}

#div_id_company_name.form-group {
    margin-bottom: 0;
}

#notificationDropdownMenuLink::before {
    display: none;
}

#profileDropdownMenuLink::after {
    display: none;
}

#notification_list {
    width: 350px;
    border-radius: 0;
}

.settlement-display {
    text-decoration: none;
    color: black;
}

.settlement-display:hover {
    text-decoration: none;
    color: black;
}

.img-edit-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
}

.img-edit-container:hover {
    background-color: rgba(255, 255, 255, .5);
}

.img-edit {
    position: absolute;
    top: 25%;
    left: 65%;
    color: rgba(65, 65, 65, 0);
    z-index: 1;
}

.img-edit-container:hover .img-edit { color: rgba(65, 65, 65, 1); }

.dropdown-menu {
    border-radius: 0;
}

.round {
    border-radius: 1rem;
}

.round-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.round-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.cursor-default:hover {
    cursor: default;
}

.img-profile {
    z-index: -1;
}

.h-5 {
    height: 1% !important;
}

.h-10 {
    height: 10% !important;
}

.h-15 {
    height: 15% !important;
}

.h-70 {
    height: 70% !important;
}

.h-90 {
    height: 90% !important;
}

.scroll1 {
    height: 27vh;
    overflow-y: auto;
}

.scroll2 {
    height: 30vh;
    overflow-y: auto;
}

.icon-link {
    color: #212529;
}

.bg-light {
    background-color: #ffffff !important;
}

.navbar-title {
    font-size: 1.5rem;
}

.nav-link {
    color: #444444 !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #072F5F !important;
}

.dropdown-menu {
    font-size: .8rem;
}

.custom-alert {
    position: absolute;
    padding: 0.75rem 1.25rem;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: center;
    z-index: 999;
}

.employee-row {
    background-image: none;
}

.employee-row:hover {
    background-image: linear-gradient(to right, #ffffff 7%, #ADD8E6 -10%, #ADD8E6 90%, #ffffff 90%);
}

a.employee-row:hover {
    text-decoration: none;
}

.time-off-row {
    background-image: none;
    cursor: pointer;
}

.time-off-row:hover {
    background-image: linear-gradient(to right, #ffffff 5%, #ADD8E6 -10%, #ADD8E6 95%, #ffffff 90%);
}

.attendance-row {
    background-image: none;
}

.attendance-row:hover {
    background-image: linear-gradient(to right, #ADD8E6 0%, #ADD8E6 100%);
}

a.attendance-row:hover {
    text-decoration: none;
}

.attendance-document {
    font-size: .875rem;
    text-decoration: none !important;
}

.account-name {
    color: #414142;
}

.account-info {
    font-size: 1.563rem;
    font-weight: 500;
}

.account-body {
    font-weight: 500;
}

.account-style {
    background-color: white;
    border-radius: 10px;
}

.account-box {
    background-color: white;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}

a.account-content {
    display: block;
    text-decoration: none;
}

.zoom {
    transition: transform .2s; /* Animation */
    display: block;
    background-color: white;
}

.zoom:hover {
  -ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08);
}

.modal-title {
    font-size: 1.563rem;
}

.stamp {
    position: absolute;
    left: 0;
    top: 0;
}

.shadow-sm {
    box-shadow: 0 .25rem 1rem rgba(0,0,0,.15)!important
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}

.btn-primary {
    background-color: #1261A0;
    border-color: #1261A0;
}

.btn-outline-info {
    color: #1261A0;
    border-color: #1261A0;
}

.btn-outline-info:hover {
    color: white;
    border-color: #1261A0;
    background-color: #1261A0;
}

.page-link {
    color: #1261A0 !important;
}

.page-item.active .page-link {
    color: white !important;
    background-color: #1261A0 !important;
    border-color: #1261A0 !important;
}

.modal-body-header {
    font-size: 1.125rem;
    font-weight: 700;
    color: #414142;
}

.modal-body-content {
    font-size: 1.125rem;
    font-weight: normal;
    color: #414142;
}

.notification {
    background-color: #ADD8E6;
    cursor: pointer;
    color: #000000 !important;
}

.notification:hover {
    background-color: #BBE1ED;
    cursor: pointer;
    color: #000000 !important;
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #1261A0;
  letter-spacing: 0.2em;
  display: none;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #1261A0;
  position: absolute;
  -webkit-animation: load .7s infinite alternate ease-in-out;
          animation: load .7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

/* Extra small devices (landscape phones, 576px and down) */
@media (max-width: 575px) {
    .navbar-brand {
        width: 220px !important;
    }

    body {
        padding-top: 52.34px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .form-group {
        margin-bottom: 1rem;
    }

    .navbar-brand {
        width: 280px !important;
    }

    .nav-border {
        border-right-style: none;
    }

    body {
        padding-top: 52.34px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    body {
        padding-top: 66.45px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-border {
        border-right-style: solid;
        border-right-width: 2px;
        border-color: #444444;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-brand {
        width: 320px !important;
    }
}