{% extends "main/base.html" %}
{% block content%}
    <h1 class="pt-4">Operations Home Page</h1>
    <div class="row pt-2">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">At 10 Attendance Points</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This is a list of all the employees that are currently at or above 10 attendance points.</h6>
                </div>
                <ul class="list-group list-group-flush scroll1">
                {% if at_10_attendance %}
                    {% for employee in at_10_attendance %}
                        <li class="list-group-item">
                            <a href="{% url 'employee-account' employee.employee_id  %}">{{ employee.get_full_name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        No Employees at or Above 10 Points
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">No Attendance in 6 Months</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This is a list of all the employees that have not gotten an attendance record in the last 6 months.</h6>
                </div>
                <ul class="list-group list-group-flush scroll1">
                    {% if no_attendance_6_months %}
                        {% for employee in no_attendance_6_months %}
                            <li class="list-group-item">
                                <a href="{% url 'employee-account' employee.employee_id  %}">{{ employee.get_full_name }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            No Employees
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Recent Settlement</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This is a list of the most recent 10 settlements</h6>
                </div>
                <ul class="list-group list-group-flush scroll1">
                {% if all_settlements %}
                    {% for settlement in all_settlements %}
                        <li class="list-group-item">
                            <a href="{% url 'employee-account' settlement.employee.employee_id  %}">{{ settlement.employee.get_full_name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        No Settlements
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="row pt-2">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Last & Final</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This is a list of all the employees that are currently on a last & final.</h6>
                </div>
                <ul class="list-group list-group-flush scroll1">
                    {% if last_final %}
                        {% for employee in last_final %}
                            <li class="list-group-item">
                                <a href="{% url 'employee-account' employee.employee_id  %}">{{ employee.get_full_name }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            No Employees on Last & Final
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">No Sick Days</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This is a list of all the employees that do not have sick days.</h6>
                </div>
                <ul class="list-group list-group-flush scroll1">
                {% if no_sick_days %}
                    {% for employee in no_sick_days %}
                        <li class="list-group-item">
                            <a href="{% url 'employee-account' employee.employee_id  %}">{{ employee.get_full_name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        No Employees with 0 sick days
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Recent Hires</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This is a list of all the employees hired within the last 30 days.</h6>
                </div>
                <ul class="list-group list-group-flush scroll1">
                {% if recent_hires %}
                    {% for employee in recent_hires %}
                        <li class="list-group-item">
                            <a href="{% url 'employee-account' employee.employee_id  %}">{{ employee.get_full_name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        No Recent Hires
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Recent Terminations</h3>
                    <h6 class="card-subtitle mb-2 text-muted">This is a list of the most recent 5 terminations</h6>
                </div>
                <ul class="list-group list-group-flush scroll1">
                {% if recent_terms %}
                    {% for employee in recent_terms %}
                        <li class="list-group-item">
                            <a href="{% url 'operations-termination-reports' %}?search={{ employee.get_full_name }}">{{ employee.get_full_name }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        No Recent Terms
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        {% if download_urls %}
            {% for url in download_urls %}
                console.log('{{ url }}');
                window.open('{{ url }}');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}