{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content%}
    <script>
        $(document).ready(function() {
            $('.basicAutoComplete').autoComplete();
            $('#date-picker input').datepicker({
                "orientation": "bottom auto",
                "multidate": true,
                });
        });
    </script>
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <h1 class="mt-3">Time Off Request</h1>
    <div class="row">
        <div class="col">
            <form method="POST" role="form" autocomplete="off" action="{% url 'operations-make-time-off-request' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4 col-12">
                        {{ form.employee_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 col-12">
                        {{ form.time_off_type|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 col-12">
                        {{ form.status|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4 col-sm-6 col-12">
                        {{ form.request_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-lg-8 col-sm-6 col-12" id="date-picker">
                        {{ form.requested_dates|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6 col-12">
                        {{ form.reason|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6 col-12">
                        {{ form.comments|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}