{% extends "main/base.html" %}
{% load employee_filters %}
{% load crispy_forms_filters %}
{% block content%}
    <script>
        $(document).ready(function(){
            $('#id_date_range').daterangepicker({
                ranges: {
                    'Last Month': [moment().subtract(1, 'month'), moment()],
                    'Last 6 Months': [moment().subtract(6, 'month'), moment()],
                    'Last Year': [moment().subtract(1, 'year'), moment()]
                },
                "autoApply": true,
                "startDate": "{{ start_date }}",
                "endDate": "{{ end_date }}",
                "opens": "left"
                });
            $('#id_date_range').on('apply.daterangepicker', function(ev, picker) {
              $('#filter-form').submit();
            });
        });
    </script>
    <form method="GET" id="filter-form" autocomplete="off">
       {% csrf_token %}
        <div class="row mt-3 align-items-center justify-content-center">
            <div class="col-lg-2 col-12 p-0">
                <h1 class="text-center mb-0">{{ page_obj.paginator.count }}</h1>
                <h3 class="text-center mt-0">Employees</h3>
            </div>
            <div class="col-lg-2 col-12 mb-1">
                {{ f_form.sort_by|as_crispy_field }}
            </div>
            <div class="col-lg-2 col-12 mb-1">
                {{ f_form.company|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-12 mb-1">
                {{ f_form.date_range|as_crispy_field }}
            </div>
            <div class="col-lg-3 col-12 mb-1">
                {{ f_form.search|as_crispy_field }}
            </div>
            <input type=submit hidden>
       </div>
    </form>
    <div class="row">
        <div class="col">
            <div class="row mt-2 justify-content-center">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 pr-sm-3 pr-0">
                    <h3>EMPLOYEE NAME</h3>
                </div>
                <div class="col-2 d-lg-block d-none">
                    <h3 class="text-center">COMPANY</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 pl-sm-3 pl-0">
                    <h3 class="text-center">TERMINATION DATE</h3>
                </div>
                <div class="col-md-3 col-4 d-sm-block d-none">
                    <h3 class="text-center">TERMINATION TYPE</h3>
                </div>
                <div class="col-3 d-md-block d-none">
                    <h3 class="text-center">TERMINATION COMMENTS</h3>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-0">
    {% for employee in page_obj %}
        <div class="row py-2 justify-content-center attendance-row" >
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 pr-sm-3 pr-0">
                <h4 class="m-0">{{ employee.get_full_name }}</h4>
            </div>
            <div class="col-2 d-lg-block d-none">
                <h4 class="m-0 text-center">{{ employee.company }}</h4>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 pl-sm-3 pl-0">
                <h4 class="m-0 text-center">{{ employee.termination_date|pretty_date }}</h4>
            </div>
            <div class="col-md-3 col-4 d-sm-block d-none">
                <h4 class="m-0 text-center">{{ employee.termination_type|termination_type_return }}</h4>
            </div>
            <div class="col-3 d-md-block d-none">
                <h4 class="m-0 text-center">{{ employee.termination_comments }}</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}