{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load employee_filters %}
{% load static %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet"/>
    <div data-document-url="{{ record|document_full_url_return }}" id="document_url"></div>
    <div class="row mt-3">
        <div class="col text-center">
            <i class="fas fa-arrow-left fa-lg icon-link" data-toggle="tooltip" title="Previous Page"></i>
        </div>
        <div class="col text-center">
            <i class="fas fa-print fa-lg icon-link" data-toggle="tooltip" title="Print Document" id="print" onclick="printJS('{{ record.document.url }}')"></i>
        </div>
        <div class="col text-center">
            <i class="fas fa-arrow-right fa-lg icon-link" data-toggle="tooltip" title="Next Page"></i>
        </div>
    </div>
    <canvas class="border border-dark" id="document_container"></canvas>
    <a class="btn btn-secondary mb-2" href="{% url 'employee-account' record.employee.employee_id %}">Back</a>
    <script>
        let pdf_document = null
        let page_num = 1
        let page_rendering = false
        let page_num_pending = null
        let scale = 3
        let page_number = document.getElementById('page_num')
        let page_count = document.getElementById('page_count')
        let prev_page = document.getElementById('prev_page')
        let next_page = document.getElementById('next_page')
        let print = document.getElementById('print')
        let canvas = document.getElementById('document_container')
        let ctx = canvas.getContext('2d')
        let document_url = document.getElementById('document_url').dataset.documentUrl

        function renderPage(num){
            page_rendering = true
            pdf_document.getPage(num).then(page=>{
                let viewport = page.getViewport({scale:scale})
                canvas.height = viewport.height
                canvas.width = viewport.width

                let render_context = {
                    canvasContext: ctx,
                    viewport: viewport
                }
                let render_task = page.render(render_context)
                render_task.promise.then(()=>{
                    page_rendering = false;
                    if (page_num_pending !== null){
                        renderPage(page_num_pending)
                        page_num_pending = null
                    }
                })
            })
            if (page_num) {
                page_number.textContent = num
            }
        }

        function queueRenderPage(num) {
            if (page_rendering) {
                page_num_pending = num
            } else {
                renderPage(num)
            }
        }

        function onPrevPage() {
            if (page_num <=1) {
                return
            }
            page_num--;
            queueRenderPage(page_num)
        }

        function onNextPage(){
            if (page_num >= pdf_document.numPages){
                return
            }
            page_num++;
            queueRenderPage(page_num)
        }

        function onPrint(){
            console.log('print')
        }

        if (prev_page) {
            prev_page.addEventListener('click', onPrevPage)
        }
        if (next_page) {
            next_page.addEventListener('click', onNextPage)
        }
        if (print) {
            print.addEventListener('click', onPrint)
        }

        pdfjsLib.getDocument(document_url).promise.then(doc => {
            pdf_document = doc
            renderPage(page_num)
            if (page_count) {
                page_count.textContent = doc.numPages
            }
        })
    </script>
{% endblock %}