{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <h1 class="mt-5">Assign Counseling</h1>
    <div class="row mt-3">
        <div class="col">
            <form method="POST" role="form" action="{% url 'employee-assign-counseling' employee.employee_id %}" id="assignCounselingForm">
                {% csrf_token %}
                <div class="form-row justify-content-start">
                    <div class="form-group col-4">
                        {{ c_form.issued_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        {{ c_form.action_type|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row justify-content-start">
                    <div class="form-group col-4">
                        {{ c_form.hearing_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        {{ c_form.hearing_time|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row justify-content-start">
                    <div class="form-group col-6">
                        {{ c_form.conduct|as_crispy_field }}
                    </div>
                    <div class="form-group col-6">
                        {{ c_form.conversation|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <a href="{% url 'employee-account' employee.employee_id %}" class="account-content mr-2">
                        <div class="btn btn-secondary">
                            Cancel
                        </div>
                    </a>
                    <button class="btn btn-primary" type="submit" value="Submit">Assign</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}