{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <h1 class="mt-5">Assign Safety Point</h1>
    <div class="row mt-3">
        <div class="col">
            <form method="POST" role="form" action="{% url 'employee-assign-safety-point' employee.employee_id %}" id="assignSafetyPointForm">
                {% csrf_token %}
                <div class="form-row justify-content-start">
                    <div class="form-group col-4">
                        {{ s_form.incident_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        {{ s_form.issued_date|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row justify-content-start">
                    <div class="form-group col-4">
                        {{ s_form.reason|as_crispy_field }}
                    </div>
                    <div class="form-group col-4">
                        <div id="div_id_unsafe_act" class="form-group">
                            <label class="requiredField" for="{{ s_form.unsafe_act.auto_id }}">{{ s_form.unsafe_act.label }}</label><span class="asterikField">*</span>
                            <div class>
                                {{ s_form.unsafe_act }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-start">
                    <div class="form-group col-12">
                        <div id="div_id_details" class="form-group">
                            <label class="requiredField" for="{{ s_form.details.auto_id }}">{{ s_form.details.label }}</label><span class="asterikField" id="span_id_details">*</span>
                            <div class>
                                {{ s_form.details }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <a href="{% url 'employee-account' employee.employee_id %}" class="account-content mr-2">
                        <div class="btn btn-secondary">
                            Cancel
                        </div>
                    </a>
                    <button class="btn btn-primary" type="submit" value="Submit">Assign</button>
                </div>
            </form>
             <script src="{% static 'JS/unsafe_act_required.js' %}"></script>
        </div>
    </div>
{% endblock %}