{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block modal-body %}
    <img id="qr" src="#" alt="" class="mx-auto d-block">
{% endblock modal-body %}
{% block modal-footer %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" id="done" form="qrCode">Done</button>
{% endblock modal-footer %}
{% block content %}
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="{% static 'JS/signature_utilities.js' %}"></script>
    <div data-src="{% static 'JS/jquery.classyqr.js' %}" id="qr_script"></div>
    <h1 class="mt-3">{{ employee.get_full_name }}</h1>
    <h3>{% if request.resolver_match.url_name == 'employee-assign-attendance' %}Assign{% else %}Edit{% endif %} Attendance Point</h3>
    <div class="row mt-3">
        <div class="col">
            <form method="POST" role="form" action="{% if request.resolver_match.url_name == 'employee-assign-attendance' %}{% url 'employee-assign-attendance' employee.employee_id %}{% else %}{% url 'employee-edit-attendance' attendance.id %}{% endif %}">
                {% csrf_token %}
                <div class="form-row justify-content-start">
                    <div class="form-group col-sm-4 col-12">
                        {{ form.incident_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4 col-12">
                        {{ form.reason|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4 col-12">
                        {{ form.exemption|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-12 pr-lg-3">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <p>Employee Signature</p>
                            </div>
                            <div class="col-8 text-right">
                                <button class="btn btn-secondary btn-sm canvas-clear" type="button" data-canvas-type="other">Clear</button>
                                <button class="btn btn-secondary btn-sm canvas-undo" type="button" data-canvas-type="other">Undo</button>
                                <button class="btn btn-secondary btn-sm canvas-qr" type="button" data-canvas-type="manager" data-qr-url="https://{{ domain }}{% url 'employee-sign-document' %}">Get QR</button>
                            </div>
                        </div>
                        <canvas class="border border-dark" id="other_canvas"></canvas>
                    </div>
                    <div class="form-group col-lg-6 col-12 pl-lg-3" id="manager_container">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <p>Manager Signature*</p>
                            </div>
                            <div class="col-8 text-right">
                                <button class="btn btn-secondary btn-sm canvas-clear" type="button" data-canvas-type="manager">Clear</button>
                                <button class="btn btn-secondary btn-sm canvas-undo" type="button" data-canvas-type="manager">Undo</button>
                                <button class="btn btn-secondary btn-sm canvas-qr" type="button" data-canvas-type="manager" data-qr-url="https://{{ domain }}{% url 'employee-sign-document' %}">Get QR</button>
                                <button class="btn btn-secondary btn-sm canvas-load" type="button" data-canvas-type="manager" data-signature-url="{% url 'employee-get-signature' %}">Load Last</button>
                            </div>
                        </div>
                        <canvas class="border border-dark" id="manager_canvas"></canvas>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <a href="{% url 'employee-account' employee.employee_id %}" class="account-content mr-2">
                        <div class="btn btn-secondary">
                            Cancel
                        </div>
                    </a>
                    <button class="btn btn-primary" type="submit" value="Submit" id="submit_button">{% if request.resolver_match.url_name == 'employee-assign-attendance' %}Assign{% else %}Save{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}