{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <h1 class="mt-5">Edit Phone Numbers</h1>
    <div class="row mt-3">
        <div class="col">
            <form method="POST" role="form">
                {% csrf_token %}
                <div class="form-row justify-content-start">
                    <div class="form-group col-2">
                        {{ p_form.primary_phone|as_crispy_field }}
                    </div>
                    <div class="form-group col-2">
                        {{ p_form.secondary_phone|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <a href="{% url 'employee-account' employee.employee_id %}" class="account-content mr-2">
                        <div class="btn btn-secondary">
                            Cancel
                        </div>
                    </a>
                    <button class="btn btn-primary" type="submit" value="Submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}