{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <h1 class="mt-3">{{ employee.get_full_name }}</h1>
    <h3>Edit Attendance Point</h3>
    <div class="row mt-3">
        <div class="col">
            <form method="POST" role="form" enctype="multipart/form-data" onsubmit="return confirm('If you have not uploaded a PDF a new document will be created with the new information! (Including Counseling if Applicable)');">
                {% csrf_token %}
                <div class="form-row justify-content-start">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        {{ a_form.incident_date|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        {{ a_form.issued_date|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row justify-content-start">
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        {{ a_form.reason|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-12">
                        {{ a_form.exemption|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row justify-content-start">
                    <div class="form-group col-md-4 col-12">
                        {{ a_form.document|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <a href="{% url 'employee-account' employee.employee_id %}" class="account-content mr-2">
                        <div class="btn btn-secondary">
                            Cancel
                        </div>
                    </a>
                    <button class="btn btn-primary" type="submit" value="Submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}