{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load employee_filters %}
{% load static %}
{% block modal-body %}
    <img id="qr" src="#" alt="" class="mx-auto d-block">
{% endblock modal-body %}
{% block modal-footer %}
    <button type="submit" class="btn btn-primary" id="done" form="qrCode" data-dismiss="modal">Done</button>
{% endblock modal-footer %}
{% block secondary-modal %}
    {% if document_type != 'Attendance' and signature_method != 'QR' %}
        <div class="modal fade" id="secondaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold">Union Representation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body union-container" id="union_modal_body">
                        <p>Would you like Union representation?</p>
                        <p>
                            If so, you have 10 business days to have the Union contact the Safety Manager about
                            this point notice Failure to do so will result in the point(s) and related discipline
                            being issued without representation from the Union
                        </p>
                        <h4>Please Initial Below</h4>
                        <canvas class="border border-dark" id="initials_canvas"></canvas>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="form-control btn btn-secondary union-modal-button">Yes</button>
                        <button type="button" class="form-control btn btn-primary union-modal-button">No</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="{% static 'JS/signature_utilities.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js"></script>
    <div data-src="{% static 'JS/jquery.classyqr.js' %}" id="qr_script"></div>
    <h1 class="mt-3">{% if document_type %}{{ record.employee.get_full_name }}{% else %}{{ record.get_full_name }}{% endif %}</h1>
    <h3>Sign Below</h3>
    {% if document_type %}
        <div data-document-url="{{ record|document_full_url_return }}" id="document_url"></div>
        <canvas class="border border-dark" id="document_container"></canvas>
    {% endif %}
    <script>
        let pdf_document = null
        let page_num = 1
        let page_rendering = false
        let page_num_pending = null
        let scale = 3
        let page_number = document.getElementById('page_num')
        let page_count = document.getElementById('page_count')
        let prev_page = document.getElementById('prev_page')
        let next_page = document.getElementById('next_page')
        let canvas = document.getElementById('document_container')
        let ctx = canvas.getContext('2d')
        let document_url = document.getElementById('document_url').dataset.documentUrl

        function renderPage(num){
            page_rendering = true
            pdf_document.getPage(num).then(page=>{
                let viewport = page.getViewport({scale:scale})
                canvas.height = viewport.height
                canvas.width = viewport.width

                let render_context = {
                    canvasContext: ctx,
                    viewport: viewport
                }
                let render_task = page.render(render_context)
                render_task.promise.then(()=>{
                    page_rendering = false;
                    if (page_num_pending !== null){
                        renderPage(page_num_pending)
                        page_num_pending = null
                    }
                })
            })
            if (page_num) {
                page_number.textContent = num
            }
        }

        function queueRenderPage(num) {
            if (page_rendering) {
                page_num_pending = num
            } else {
                renderPage(num)
            }
        }

        function onPrevPage() {
            if (page_num <=1) {
                return
            }
            page_num--;
            queueRenderPage(page_num)
        }

        function onNextPage(){
            if (page_num >= pdf_document.numPages){
                return
            }
            page_num++;
            queueRenderPage(page_num)
        }

        if (prev_page) {
            prev_page.addEventListener('click', onPrevPage)
        }
        if (next_page) {
            next_page.addEventListener('click', onNextPage)
        }
        pdfjsLib.getDocument(document_url).promise.then(doc => {
            pdf_document = doc
            renderPage(page_num)
            if (page_count) {
                page_count.textContent = doc.numPages
            }
        })
    </script>
    <div class="row mt-3">
        <div class="col">
            <form method="POST" role="form" action="{% if document_type %}{% url 'employee-sign-document' signature_method=signature_method record_id=record.id document_type=document_type %}{% else %}{% url 'employee-sign-document' signature_method=signature_method record_id=record.employee_id %}{% endif %}" data-manager-required="{% if signature_method == 'In Person' %}true{% else %}false{% endif %}" data-other-required="True" data-signature-method="{{ signature_method }}">
                {% csrf_token %}
                <div class="form-row">
                    <input type="hidden" value="{{ signature_method }}" name="signature_method">
                    <div class="form-group col-lg-6 col-12 pr-lg-3">
                        <div class="row justify-content-between">
                            <div class="col-md-4 col-12 mb-md-3 mb-0">
                                {% if signature_method == 'In Person' %}
                                    <p class="mb-0" id="other_signature_title">Employee Signature*</p>
                                {% else %}
                                    <p class="mb-0">Signature*</p>
                                {% endif %}
                            </div>
                            <div class="col-md-8 col-12 mb-md-3 mb-2 text-md-right">
                                {% if signature_method == 'In Person' %}
                                    <button class="btn btn-secondary btn-sm canvas-qr" type="button" data-canvas-type="other" data-qr-url="https://{{ domain }}{% url 'employee-sign-document' signature_method='QR' record_id=record.employee.employee_id %}" data-signature-url="{% url 'employee-get-signature' record.employee.employee_id %}" data-clear-url="{% url 'employee-clear-signature' record.employee.employee_id %}" id="other_qr">Get QR</button>
                                {% endif %}
                                <button class="btn btn-secondary btn-sm canvas-clear" type="button" data-canvas-type="other">Clear</button>
                                <button class="btn btn-secondary btn-sm canvas-undo" type="button" data-canvas-type="other">Undo</button>
                            </div>
                        </div>
                        <canvas class="border border-dark" id="other_canvas"></canvas>
                    </div>
                    {% if signature_method == 'In Person' %}
                        <div class="form-group col-lg-6 col-12 pl-lg-3" id="manager_container">
                            <div class="row justify-content-between">
                                <div class="col-md-4 col-12 mb-md-3 mb-0">
                                    <p class="mb-0">Manager Signature*</p>
                                </div>
                                <div class="col-md-8 col-12 mb-md-3 mb-2 text-md-right">
                                    <button class="btn btn-secondary btn-sm canvas-qr" type="button" data-canvas-type="manager" data-qr-url="https://{{ domain }}{% url 'employee-sign-document' signature_method='QR' record_id=request.user.employee_id %}" data-signature-url="{% url 'employee-get-signature' request.user.employee_id %}" id="manager_qr">Get QR</button>
                                    <button class="btn btn-secondary btn-sm canvas-load" type="button" data-canvas-type="manager" data-signature-url="{% url 'employee-get-signature' %}">Load Last</button>
                                    <button class="btn btn-secondary btn-sm canvas-clear" type="button" data-canvas-type="manager">Clear</button>
                                    <button class="btn btn-secondary btn-sm canvas-undo" type="button" data-canvas-type="manager">Undo</button>
                                </div>
                            </div>
                            <canvas class="border border-dark" id="manager_canvas"></canvas>
                        </div>
                    {% endif %}
                    {% if document_type != 'Attendance' %}
                        <input type="hidden" value="" name="union_representation" id="id_union_representation">
                    {% endif %}
                </div>
                {% if signature_method == 'In Person' %}
                    {{ form.refused_to_sign|as_crispy_field }}
                {% endif %}
                <input type="hidden" value="{{ signature_method }}" id="id_signature_method" name="signature_method">
                <div class="form-row mb-3">
                    {% if signature_method == 'In Person' %}
                        <a href="{% url 'employee-account' record.employee.employee_id %}" class="account-content mr-2">
                            <div class="btn btn-secondary">
                                Cancel
                            </div>
                        </a>
                    {% endif %}
                    <button class="btn btn-primary" type="{% if request.resolver_match.url_name != 'Attendance' %}button{% else %}submit{% endif %}" value="Submit" id="submit_button">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}