{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <script src="{% static 'JS/form_preloader.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="{% static 'JS/signature_utilities.js' %}"></script>
    <div data-src="{% static 'JS/jquery.classyqr.js' %}" id="qr_script"></div>
    <h1 class="mt-3">{% if document_type %}{{ record.employee.get_full_name }}{% else %}{{ record.get_full_name }}{% endif %}</h1>
    <h3>Sign Below</h3>
    <div class="row mt-3">
        <div class="col">
            <form method="POST" role="form" action="{% if document_type %}{% url 'employee-sign-document' signature_method=signature_method record_id=record.id document_type=document_type %}{% else %}{% url 'employee-sign-document' signature_method=signature_method record_id=record.employee_id %}{% endif %}" data-manager-required="{% if signature_method == 'In Person' %}true{% else %}false{% endif %}" data-other-required="True" data-signature-method="{{ signature_method }}">
                {% csrf_token %}
                <div class="form-row">
                    <input type="hidden" value="{{ signature_method }}" name="signature_method">
                    <div class="form-group col-lg-6 col-12 pr-lg-3">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                {% if signature_method == 'In Person' %}
                                    <p id="other_signature_title">Employee Signature*</p>
                                {% else %}
                                    <p>Signature*</p>
                                {% endif %}
                            </div>
                            <div class="col-8 text-right">
                                {% if signature_method == 'In Person' %}
                                    <button class="btn btn-secondary btn-sm canvas-qr" type="button" data-canvas-type="other" data-qr-url="https://{{ domain }}{% url 'employee-sign-document' signature_method='QR' record_id=record.employee.employee_id %}" data-signature-url="{% url 'employee-get-signature' record.employee.employee_id %}" data-clear-url="{% url 'employee-clear-signature' record.employee.employee_id %}" id="other_qr">Get QR</button>
                                {% endif %}
                                <button class="btn btn-secondary btn-sm canvas-clear" type="button" data-canvas-type="other">Clear</button>
                                <button class="btn btn-secondary btn-sm canvas-undo" type="button" data-canvas-type="other">Undo</button>
                            </div>
                        </div>
                        <canvas class="border border-dark" id="other_canvas"></canvas>
                    </div>
                    {% if signature_method == 'In Person' %}
                        <div class="form-group col-lg-6 col-12 pl-lg-3" id="manager_container">
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    <p>Manager Signature*</p>
                                </div>
                                <div class="col-8 text-right">
                                    <button class="btn btn-secondary btn-sm canvas-qr" type="button" data-canvas-type="manager" data-qr-url="https://{{ domain }}{% url 'employee-sign-document' signature_method='QR' record_id=request.user.employee_id %}" data-signature-url="{% url 'employee-get-signature' request.user.employee_id %}" id="manager_qr">Get QR</button>
                                    <button class="btn btn-secondary btn-sm canvas-load" type="button" data-canvas-type="manager" data-signature-url="{% url 'employee-get-signature' %}">Load Last</button>
                                    <button class="btn btn-secondary btn-sm canvas-clear" type="button" data-canvas-type="manager">Clear</button>
                                    <button class="btn btn-secondary btn-sm canvas-undo" type="button" data-canvas-type="manager">Undo</button>
                                </div>
                            </div>
                            <canvas class="border border-dark" id="manager_canvas"></canvas>
                        </div>
                    {% endif %}
                </div>
                {% if signature_method != 'QR' %}
                    {{ form.refused_to_sign|as_crispy_field }}
                {% endif %}
                <input type="hidden" value="{{ signature_method }}" id="id_signature_method" name="signature_method">
                <div class="form-row mb-3">
                    {% if signature_method == 'In Person' %}
                        <a href="{% url 'employee-account' record.employee.employee_id %}" class="account-content mr-2">
                            <div class="btn btn-secondary">
                                Cancel
                            </div>
                        </a>
                    {% endif %}
                    <button class="btn btn-primary" type="submit" value="Submit" id="submit_button">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}