name: Test & Build

on:
  pull_request:
    branches: [ master ]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
     SQL_HOST: db
     SQL_PORT: 5432
     SQL_USER: test
     SQL_DATABASE: test-db
     SQL_PASSWORD: testing321
     SECRET_KEY: ${{ secrets.SECRET_KEY }}
     DEBUG: 0
     TRAEFIK_LOG: INFO
     DOMAIN: dms.localhost
     EMAIL_HOST: smpt.test.host
     EMAIL_PORT: 25
     EMAIL_HOST_USER: user@example.com
     EMAIL_HOST_PASSWORD: testing321
     EMAIL_USE_TLS: 1
     DEFAULT_FROM_EMAIL: user@example.com
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v1
      - name: Build docker-compose stack
        run: docker-compose --file docker-compose.ci.yaml run dms test
